@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: black;
  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

@layer utilities {
  .hover-gradient {
    @apply hover:bg-gradient-to-t hover:from-blue-500 hover:via-purple-500 hover:to-pink-500 hover:bg-clip-text hover:text-transparent transition;
  }
}

@layer utilities {
  .gradient-bg {
    @apply bg-gradient-to-t from-blue-500 via-purple-500 to-pink-500;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins);
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid transparent;
  width: 100%;
  animation: typing 3s steps(30) 1s forwards, blink 0.75s step-end infinite;
  text-align: center;
  max-width: none;
}


@keyframes blink {
  50% {
    border-color: transparent;
  }
}